
## <summary>policy for dexergi</summary>


########################################
## <summary>
##	Transition to dexergi.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dexergi_domtrans',`
	gen_require(`
		type dexergi_t, dexergi_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dexergi_exec_t, dexergi_t)
')


########################################
## <summary>
##	Execute dexergi server in the dexergi domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dexergi_initrc_domtrans',`
	gen_require(`
		type dexergi_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dexergi_initrc_exec_t)
')


########################################
## <summary>
##	Search dexergi lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dexergi_search_lib',`
	gen_require(`
		type dexergi_var_lib_t;
	')

	allow $1 dexergi_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dexergi lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dexergi_read_lib_files',`
	gen_require(`
		type dexergi_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dexergi_var_lib_t, dexergi_var_lib_t)
')

########################################
## <summary>
##	Manage dexergi lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dexergi_manage_lib_files',`
	gen_require(`
		type dexergi_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dexergi_var_lib_t, dexergi_var_lib_t)
')

########################################
## <summary>
##	Manage dexergi lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dexergi_manage_lib_dirs',`
	gen_require(`
		type dexergi_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dexergi_var_lib_t, dexergi_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a dexergi environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dexergi_admin',`
	gen_require(`
		type dexergi_t;
		type dexergi_initrc_exec_t;
		type dexergi_var_lib_t;
	')

	allow $1 dexergi_t:process { ptrace signal_perms };
	ps_process_pattern($1, dexergi_t)

	dexergi_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dexergi_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dexergi_var_lib_t)

')

